/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

:root {
  
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeImage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: opacity 1s forwards; /*transition does not work for images*/
  position: relative;
}

#landing #background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#landing #background-transition {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}

h1 {
  font-size: 10vw;
  text-align: center;
}

#titleBanner {
  padding-left: 5%;
  padding-right: 5%;
  transition: color 1s, background-color 1s;
}

.black {
  background-color: #000;
  color: #fff;
  mix-blend-mode: multiply;
}

.white {
  background-color: #fff;
  color: #000;
  mix-blend-mode: lighten;
}

#colorSelector {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  align-items: center;

  padding: 10px;
  background-color: #ffffff50;
  border-radius: 10px;
}

#colorSelector input {
  margin-left: 10px;
}

#colorSelector label {
  font-size: 1.5em;
}

#carousel {
  height: 910px;
  background-color: #0d0d0d;
  position: relative;
  display: flex;
}

#carousel-container {
  display: flex;
  width: 100%;
  padding: 50px;
}

.carousel-item {
  position: relative;
  display:block;
  height: 800px;
  width: 150px;
  min-width: 150px;
  margin-inline: 12px;
  border-radius: 81px;
  border: 5px solid black;
  overflow: hidden;

  transition: width 1s ease;
}

.carousel-item .carousel-id {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(10px, 0);
  width: 120px;
  height: 120px;
  background-color: #202020;
  border-radius: 70px;
  text-align: center;
  line-height: 120px;
  font-size: 100px;
  margin: 0;
  margin-bottom: 15px;
  color: white;
  border: 5px solid black;
  text-shadow: black 5px 5px 5px;
}

.carousel-item .carousel-title {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(180px, -50px);
  color: white;
  font-size: 50px;
  margin: 0;
  text-shadow: black 3px 3px 3px;
}

#carousel-container .active {
  width:100%;
}

#carousel-container #carousel-1 {
  background-image: url("/assets/photos/space-4678686_1920.jpg");
  background-size: cover;
  background-position: center;
}

#carousel-container #carousel-2 {
  background-image: url("/assets/photos/universe-1622107_1920.jpg");
  background-size: cover;
  background-position: center;
}

#carousel-container #carousel-3 {
  background-image: url("/assets/photos/science-fiction-2907434_1920.jpg");
  background-size: cover;
  background-position: center;
}

#carousel-container #carousel-4 {
  background-image: url("/assets/photos/fantasy-2770468_1920.jpg");
  background-size: cover;
  background-position: center;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

}
